<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <div class="col-xl-12">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="header-info-left d-flex">

        </div>
        <div class="header-info-right">
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li>
                <a class="dropdown-item" routerLink="/login">My Account</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/product-list">Wish List</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/cart">Shopping</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/cart">Cart</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/check-out">Checkout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="header-bottom  header-sticky">
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
        <div class="logo">
          <a class="navbar-brand" routerLink="/">O</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
        <nav class="navbar navbar-expand-md">
          <div class="main-menu f-right d-none d-lg-block">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li>
                  <a class="dropdown-item" routerLink="/">Home</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/">Catagori</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/">Latest</a>
                  <ul class="submenu">
                    <li>
                      <a class="dropdown-item" routerLink="/product-list">Product list</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/">Product Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/blog">Blog</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/pages">Pages</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
        <ul class="header-right f-right d-none d-xs-block d-flex justify-content-between">
          <li class="d-none d-xl-block">
            <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" name="Search" placeholder="Search products">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
          </li>
          <li class=" d-none d-xl-block">
            <div class="favorit-items">
              <i class="far fa-heart"></i>
            </div>
          </li>
          <li>
            <div class="shopping-card">
              <a class="dropdown-item" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </li>
          <li class="d-none d-lg-block">
            <a class="nav-link btn header-btn" role="button" routerLink="/login">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
