@import "../../../styles.scss";

.slider-area {
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    .slick-list {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
      .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        .slick-slide {
          display: block;
          position: relative;
          left: 0px;
          top: 0px;
          z-index: 900;
          opacity: 1;
          background-image: url("../../../assets/images/h1_hero.jpg");
          .hero__img {
            position: relative;
            bottom: -36px;
            left: -114px;
          }
          .hero__caption {
            span {
              font-family: yellowtail,cursive;
              color: $color-dodger-blue;
              font-size: 40px;
              display: inline-block;
              -webkit-animation-duration: 0.4s;
              -moz-animation-duration: 0.4s;
              -o-animation-duration: 0.4s;
              animation-duration: 0.4s;
              -webkit-animation-delay: 0.4s;
              -moz-animation-delay: 0.4s;
              -o-animation-duration: 0.4s;
              animation-delay: 0.4s;
            }
            h1 {
              color: $color-shark;
              text-transform: uppercase;
              font-size: 100px;
              font-weight: 700;
              line-height: 1.1;
              text-transform: capitalize;
              margin-bottom: 13px;
              -webkit-animation-duration: 0.6s;
              -moz-animation-duration: 0.6s;
              -o-animation-duration: 0.6s;
              animation-duration: 0.6s;
              -webkit-animation-delay: 0.6s;
              -moz-animation-delay: 0.6s;
              -o-animation-duration: 0.6s;
              animation-delay: 0.6s;
            }
            p {
              font-family: playfair display,serif;
              font-style: italic;
              font-size: 20px;
              line-height: 1.2;
              font-weight: 300;
              margin-bottom: 39px;
              color: $color-outer-space;
              margin-bottom: 50px;
              text-transform: capitalize;
              -webkit-animation-duration: 0.8s;
              -moz-animation-duration: 0.8s;
              -o-animation-duration: 0.8s;
              animation-duration: 0.8s;
              -webkit-animation-delay: 0.8s;
              -moz-animation-delay: 0.8s;
              -o-animation-duration: 0.8s;
              animation-delay: 0.8s;
            }
            .hero-btn {
              padding: 25px 29px;
              -webkit-animation-duration: 1s;
              -moz-animation-duration: 1s;
              -o-animation-duration: 1s;
              animation-duration: 1s;
              -webkit-animation-delay: 1s;
              -moz-animation-delay: 1s;
              -o-animation-duration:1s;
              animation-delay: 1s;
            }
          }
        }
        .slider-height {
          min-height: 800px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }
    }
  }
}

.best-product-area {
  position: relative;
  .bg-height {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-image: url("../../../assets/images/card.png");
  }
  .product-man {
    left: 9%;
    bottom: 0;
    z-index: 1;
  }
  .vertical-text {
    span {
      text-orientation: 150deg;
      writing-mode: vertical-lr;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: 117px;
      font-family: poppins,sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-text-stroke: 1px #e6dfc6;
      -webkit-text-fill-color: transparent;
      position: relative;
      z-index: 0;
    }
  }
  .best-product-caption {
    padding-top: 150px;
    padding-bottom: 130px;
    h2 {
      color: $color-black;
      font-size: 55px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 19px;
    }
    p {
      color: $color-tuna;
      font-size: 20px;
      margin-bottom: 55px;
    }
  }
  .shape {
    position: absolute;
    right: 145px;
    bottom: 64px;
    opacity: .8;
  }
}

.best-collection-area {
  .best-left-cap {
    h2 {
      color: $color-black;
      font-size: 45px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 19px;
    }
    p {
      color: $color-tuna;
      font-size: 20px;
      margin-bottom: 55px;
    }
  }
  .best-left-img {
    padding-top: 130px;
  }
  .best-right-cap {
    float: right;
    .best-single {
      display: flex;
      align-items: end;
      .single-cap {
        text-align: right;
        h4 {
          color: $color-black;
          font-size: 18px;
          line-height: 1.6;
          font-family: poppins,sans-serif;
        }
        &.active {
          h4 {
            color: $color-white;
            font-family: poppins,sans-serif;
          }
        }
      }
      .single-img {
        padding-left: 25px;
      }
    }
  }
}

.latest-wrapper {
  padding-bottom: 60px;
  .latest-area {
    position: relative;
    &.latest-height {
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../../../assets/images/latest-offer.png");
    }
    .latest-caption {
      position: relative;
      z-index: 1;
      h2 {
        color: $color-black;
        font-size: 45px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 19px;
      }
      p {
        color: $color-tuna;
        font-size: 20px;
        margin-bottom: 55px;
      }
    }
    .latest-subscribe {
      form {
        position: relative;
        input {
          height: 60px;
          width: 100%;
          padding: 10px 32px;
          border: 1px solid $color-white;
          border-radius: 30px;
        }
        button {
          padding: 30px 40px;
          font-size: 14px;
          font-weight: 300;
          position: absolute;
          right: 0;
          border: 0;
          top: 0;
          border-radius: 30px;
      }
      }
    }
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  .slider-area {
    .slick-slider {
      .slick-list {
        .slick-track {
          .slider-height {
            min-height: 700px;
          }
        }
      }
    }
  }
}