<section class="login_part section_padding ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="login_part_text text-center">
          <div class="login_part_text_iner">
            <h2>New to our Shop?</h2>
            <p>There are advances being made in science and technology
              everyday, and a good example of this is the</p>
            <a routerLink="/register" class="btn_3">Create an Account</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>Welcome Back ! <br>
              Please Sign in now</h3>
            <div class="alert alert-danger" *ngIf="loginError">
              {{loginError}}
            </div>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="row contact_form" novalidate>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" [(ngModel)]="model.email" placeholder="Email" name="email" #email="ngModel" required
                  email>
                <span class="text-danger" *ngIf="(email.touched || form.submitted) && email.errors?.required">
                  Email is required
                </span>
                <span class="text-danger" *ngIf="email.touched && email.errors?.email">
                  Enter a valid email address
                </span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input [(ngModel)]="model.password" type="password" class="form-control" id="password" name="password" #password="ngModel"
                  placeholder="Password" required [ngClass]="{ 'is-invalid': form.submitted && password.invalid }" required />
                  <div *ngIf="form.submitted && password.invalid" class="invalid-feedback">
                      <div *ngIf="password.errors.required">Password is required!</div>
                  </div>
              </div>
              <div class="col-md-12 form-group">
                <div class="creat_account d-flex align-items-center">
                  <input type="checkbox" id="f-option" name="selector">
                  <label for="f-option">Remember me</label>
                </div>
                <button [disabled]="form.invalid" type="submit" value="submit" class="btn_3">
                  log in
                </button>
                <a class="lost_pass" routerLink="/forgot-password">forget password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

