<section class="cart_area section_padding">
  <div class="container">
    <div class="cart-empty-page d-flex" *ngIf="!shoppingCartItems?.length">
      <p>There are no products in your cart.</p>
      <div class="cart-empty-action">
        <a class="btn_1" routerLink="/product-list">Continue Shopping</a>
      </div>
    </div>
    <div class="cart_inner" *ngIf="shoppingCartItems?.length">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of shoppingCartItems">
              <td>
                <div class="media">
                  <div class="d-flex">
                      <img [src]='item.image' [title]='item.name' alt="">
                  </div>
                  <div class="media-body">
                    <a routerLink="/products/{{item._id}}">{{ item.name }}</a>
                  </div>
                </div>
              </td>
              <td>
                <h5>{{ item.originalPrice | currency:'USD' }}</h5>
              </td>
              <td>
                <div class="product_count">
                  <span class="product_count_item inumber-decrement" (click)="minusQuantity(item)"> <i class="fa fa-minus"></i></span>
                  <input class="product_count_item input-number"
                    [(ngModel)]="item.quantity" type="number" 
                    readonly>
                  <span class="product_count_item number-increment" (click)="plusQuantity(item)"> <i class="fa fa-plus"></i></span>
                </div>
                <div class="error cart-message" *ngIf="item.quantity == null">
                  Minimum order quantity of item {{ item.name }} is {{ minQuantity }}.
                </div>
                <div class="error cart-message" *ngIf="item.quantity > maxQuantity">
                  Maximum order quantity of item {{ item.name }} is {{ maxQuantity }}.
                </div>
              </td>
              <td>
                <h5>{{ (item.originalPrice * item.quantity) | currency:'USD' }}</h5>
              </td>
            </tr>
            <tr class="bottom_button">
              <td>
                <button (click)="updateCart(shoppingCartItems)" class="btn_1">Update Cart</button>
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="cupon_text float-right">
                  <a class="btn_1" routerLink="/cart">Close Coupon</a>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td>
                <h5>{{ totalAmount | currency:'USD' }}</h5>
              </td>
            </tr>
            <tr class="shipping_area">
              <td></td>
              <td></td>
              <td>
                <h5>Shipping</h5>
              </td>
              <td>
                <div class="shipping_box">
                  <ul class="list">
                    <li>
                      Flat Rate: $5.00
                      <input type="radio" name="options" value="1">
                    </li>
                    <li>
                      Free Shipping
                      <input type="radio" name="options" value="2">
                    </li>
                    <li>
                      Flat Rate: $10.00
                    <input type="radio" name="options" value="3">
                    </li>
                  </ul>
                  <h6>
                    Calculate Shipping
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </h6>
                  <input class="post_code" type="text" placeholder="Postcode/Zipcode">
                  <a class="btn_1" routerLink="/cart">Update Details</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" routerLink="/product-list">Continue Shopping</a>
          <a class="btn_1 checkout_btn_1" routerLink="/check-out" (click)="updateCart(shoppingCartItems)">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>