/* You can add global styles to this file, and also import other style files */

$color-black: #000; 
$color-white: #fff;
$color-torch-red: #ff003c;
$color-blue-zodiac: #0b1c39;
$color-dove-gray: #6c6a6a;
$color-gallery: #eee;
$color-tundora: #4e4e4e;
$color-dodger-blue: #2577fd;
$color-alto: #d3d3d3;
$color-boulder: #777;
$color-mercury: #e8e8e8;
$color-selective-yellow: #ffbc07;
$color-mine-shaft: #383838;
$color-shark: #1f2022;
$color-outer-space: #1f2022;
$color-wild-blue-yonder: #828bb2;
$color-blue-bayoux: #506172;
$color-tuna: #373b41;
$color-twilight: #e4d3df;
$color-mine-shaft-dark: #1f1f1f;
$color-blue-ribbon: #0071fe;
$color-chambray: #415094;
$color-dusty-dray: #999999;
$color-alabaster: #f7f7f7;
$color-silver: #cdcdcd;

body {
  font-family: poppins,sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section_padding {
  padding: 200px 0;
}

.padding-bottom {
  padding-bottom: 250px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-85 {
  margin-bottom: 85px;
}

.section-padding30 {
  padding-top: 200px;
  padding-bottom: 170px;
}

.lf-padding {
  padding-left: 60px;
  padding-right: 60px;
}

.section-padding2 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.mat-progress-spinner {
  circle {   
    stroke: $color-dodger-blue;
  }
}

.btn {
  background: $color-dodger-blue;
  -moz-user-select: none;
  text-transform: capitalize;
  color: $color-white;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 0;
  margin-bottom: 0;
  padding: 27px 44px;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  transition: color .4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
}

.btn_1 {
  display: inline-block;
  padding: 17px 50px;
  border-radius: 5px;
  background-color: $color-dodger-blue;
  border: 2px solid $color-dodger-blue;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: capitalize;
  color: $color-white;
}

.btn_3 {
  display: inline-block;
  padding: 18px 36px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $color-dodger-blue;
  font-size: 15px;
  font-weight: 700;
  color: $color-dodger-blue;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  &:hover {
    background-color: $color-dodger-blue;
    color: $color-white;
    &:before {
      transform: scaleX(1);
      color: $color-white !important;
      z-index: -1;
    }
  }
}

.black-btn {
  background: $color-black;
  color: $color-white;
  box-shadow: 0 20px 50px 0 rgba(22,22,22,.2);
  transform: translateY(0px);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 0;
  margin-bottom: 0;
  padding: 27px 44px;
  border-radius: 25px;
}

.tp_btn {
  border: 1px solid $color-gallery;
  display: inline-block;
  line-height: 38px;
  padding: 0 40px;
  color: $color-chambray;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 50px;
  &:hover {
    background-color: $color-dodger-blue;
    color: $color-white;
  }
}

button:disabled,
button[disabled]{
  border: 1px solid $color-dusty-dray;
  color: $color-dove-gray;
  &:hover {
    background-color: transparent;
    color: $color-dove-gray;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.in-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}


.bounce-animate {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
}

a:focus, a:hover {
  text-decoration: none;
}

p {
  font-family: poppins,sans-serif;
  color: $color-blue-bayoux;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.error {
  color: $color-torch-red;
  margin-top: 20px;
}

.radion_btn {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  label {
    display: block;
    position: relative;
    padding: 0 25px 21px;
    height: 14px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all .25s linear;
    font-family: playfair display,serif;
    font-weight: 500;
    color: $color-chambray;
    font-size: 13px;
    letter-spacing: .25px;
    text-transform: uppercase;
  }
}