<div class="footer-area footer-padding2">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
        <div class="single-footer-caption mb-50">
          <div class="single-footer-caption mb-30">

            <div class="footer-logo">
              <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
            </div>
            <div class="footer-tittle">
              <div class="footer-pera">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
        <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
            <h4>Quick Links</h4>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
        <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
            <h4>New Products</h4>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
        <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
            <h4>Support</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-7">
        <div class="footer-copy-right">
          <p>
            Copyright ©<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js">
            </script>
            <script type="text/javascript">
              document.write(new Date().getFullYear());

            </script>2020 All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i>
            by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
        </div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-5">
        <div class="footer-copy-right f-right">
        </div>
      </div>
    </div>
  </div>
</div>
