<div class="container">
  <div class="card">
    <div *ngIf="!loading">
      <app-progress-spinner></app-progress-spinner>
    </div>
    <div class="container-fliud">
      <div class="wrapper row justify-content-center" *ngIf="product">
        <div class="preview col-lg-12">
          <div class="product-image">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img [src]="product.image" alt="">
              </ng-template>
              <ng-template ngbSlide *ngFor="let thumbnail of product.thumbnails">
                  <img [src]="thumbnail" alt="">
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
        <div class="details col-lg-8">
          <div class="single_product_text text-center">
            <h3>{{ product.name }}</h3>
            <p>
              {{ product.shortDescription }}
            </p>
            <div class="card_area">
              <div class="product_count_area">
                <p>Quantity</p>
                <div class="product_count d-inline-block">
                  <span class="product_count_item inumber-decrement"> <i class="fa fa-minus"></i></span>
                  <input class="product_count_item input-number" type="text" value="1" min="0" max="10">
                  <span class="product_count_item number-increment"> <i class="fa fa-plus"></i></span>
                </div>
                <p>{{ product.originalPrice | currency:'USD' }}</p>
              </div>
              <div class="add_to_cart">
                <a routerLink="/cart" class="btn_3">add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>