@import "../../../../../styles.scss";

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.5em; 
  border: none;
  .product-image {
    background-color: $color-white;
    display: block;
    overflow: hidden;
    position: relative;
    .carousel:focus, .carousel-inner:focus, .carousel-item:focus {
      outline: none;
    }
    .carousel-inner {
      .carousel-item {
        height: 400px;
        text-align: center;
        img {
          min-height: 100%;
        }
      }
    }
    .carousel-control-prev, .carousel-control-next {
      .carousel-control-prev-icon, .carousel-control-next-icon {
        background-image: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $color-twilight;
        cursor: pointer;
        &:before {
          font: normal normal normal 14px/1 FontAwesome;
          display: inline-block;
          content: '\f104';
          color: $color-white;
          font-size: 28px;
          position: relative;
          top: 4px;
        }
        &:hover {
          background-color: $color-wild-blue-yonder;
        }
      }
    }
    .carousel-control-prev {
      .carousel-control-prev-icon {
        &:before {
          content: '\f104';
        }
      }
    }
    .carousel-control-next {
      .carousel-control-next-icon {
        &:before {
          content: '\f105';
        }
      }
    }
  }

  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
    .single_product_text {
      margin: 100px 0 200px;
      h3 {
        font-size: 40px;
      }
      p {
        margin-top: 50px;
        color: $color-dove-gray;
      }
      .card_area {
        margin-top: 60px;
        .product_count_area {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            margin-top: 0!important;
            color: $color-wild-blue-yonder;
          }
          .product_count {
            border: 1px solid $color-wild-blue-yonder;
            margin: 0 35px;
            .product_count_item {
              width: 50px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              display: inline-block;
              cursor: pointer;
              i {
                &:before {
                  color: $color-wild-blue-yonder;
                }
              }
            }
            input {
              background-color: $color-wild-blue-yonder;
              border: 1px solid $color-wild-blue-yonder;
              color: $color-white;
            }
          }
        }
        .add_to_cart {
          margin-top: 60px;
        }
      }
    }
  }
}